#[Reference]#
%issue.ref%


#[Phase]#
%issue.phase%


#[Category]#
%issue.category%


#[AttackVariation]#
%issue.attack_variation%


#[Outcome]#
%issue.outcome%


#[OutcomeDetails]#
%issue.outcome_details%


#[OutcomeNotes]#
%issue.outcome_notes%


#[DetectionTools]#
%issue.detection_prevention_tools%


#[tags]#
%issue.tags%